@import "tailwindcss";
.fog-gradient {
  position: absolute;
  top: -150px;
  left: 0;
  width: 100%;
  height: 80px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.6));
  z-index: 30;
  filter: blur(8px) brightness(20); 
  pointer-events: none;
}
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6); /* 0.3 = 30% opacity */
  
}
.overlay2 {
  /* position: absolute; */
  inset: 0;
  background-color: rgba(0, 0, 0, 0.3); /* 0.3 = 30% opacity */
  z-index: 10;
}
/* Example CSS */
.custom-nav {
  color: #333;
  background: rgba(255, 255, 255, 0.8);
  padding: 0.5rem;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 20px;
}

